name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    uses: eeekcct/goreleaser-golang-workflow/.github/workflows/release.yml@main
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
