name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    uses: eeekcct/goreleaser-golang-workflow/.github/workflows/release.yml@6bd52a9a8fc283436f215120817786cacd00e37e
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
    with:
      draft: false
